@import '@/styles/mixins.scss';

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to right, white, var(--secondary-color));

    // Chrome support
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    // Firefox support
    -webkit-mask-image: linear-gradient(to right, white, var(--secondary-color));
    mask-image: linear-gradient(to right, white, var(--secondary-color));
}