@import '@/styles/mixins.scss';

.sidebar {
    @include col;
    height: 100%;
    width: 200px;
    gap: var(--app-gap);
    padding: var(--app-padding);
    align-items: center;
    background-color: var(--primary-color);
}