@import '@/styles/mixins.scss';

.quotesPage {
  @include Page;
  @include col;
  align-items: center;
  justify-content: center;

  .header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: calc(var(--app-padding) / 2);
    text-align: center;
    color: var(--primary-color);
    background-color: white;
  }
}